*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid black;
}
.app-container{
    display: flex;
    flex-direction:row;
    height: 100vh;
    width: 100%;
}
.sidebar {
  /* What width? Should it shrink/grow? */
    flex:20;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 6px 10px;
  background-color: #fff;
  transition: transform 0.3s ease; /* smooth animation */
}

.search-bar:hover {
  transform: translateY(-5px); /* move upward */
  box-shadow: 0 4px 10px rgba(0,0,0,0.2); /* add shadow */
}




.search-icon {
  margin-right: 8px;
  color: #888;            /* grey icon */
  font-size: 18px;
}

.search-bar input {
  border: none;
  outline: none;
  flex: 1;                /* take remaining space */
  font-size: 14px;
}


.main-content {
  /* How do we make it take remaining space? */
    flex: 80;
}
