
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 2px solid red ;
}

body {
  font-family: Arial, sans-serif;
}

.app-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.sidebar {
  background: lightblue;
  display: flex;
  flex-direction: column;
  padding: 0 7% 0 3%;
  gap: 3%;
}

.sidebar h4 {
  padding: 4px;
}


.sidebar li {
  padding-bottom: 10px ;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.main-content {
  flex: 1;
  background: black;
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 3%;
}

/* i want top ad logo divs to have same distance from up*/

#navigation-top {
  height: 8%;
  display: flex;
  align-items: center;
  margin-top: 15px;
  justify-content: center;
}

#navigation-bottom {
  flex: 1;
  overflow: auto;
  border: 1px solid blue;
  margin-bottom: 15px;
}

.main-content {
  flex: 1;
  background: lightcoral;
  display: flex;
  flex-direction: column;
  padding: 0 16px; /* match horizontal spacing if needed */
}

#top {
  height: 8%;
  display: flex;
  align-items: center;
  background: green;
  margin-top: 15px;
}

#bottom {
  flex: 1;
  background-color: white;
  border-radius: 8px;
  overflow: auto;
  border: 1px solid blue;
  margin-bottom: 15px;
}


.search-bar {
  width: 100%;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 6px 10px;
  background-color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.search-bar:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.search-icon {
  margin-right: 8px;
  color: #888;
  font-size: 18px;
}

.search-bar input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 14px;
}
